.kay-attestation {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  input[type='number'] {
    width: 100%;
    max-width: 100%;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
